# Data
*.xlsx
*.xls
*.csv
*.png
*.pdf
*.html
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.ico
*.bmp
*.tiff
*.tif
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.mp3
*.wav
*.aac
*.flac
*.ogg
*.m4a
*.wma
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso
*.dmg
*.exe
*.msi
*.bat
*.sh
*.pyc
*.pyo
*.pyd
*.docx
*.doc
*.pdf
*.txt
*.pptx
*.ppt

# files
data/raw
data/processed
data/embeddings

# Environment
.env
venv
.venv

#Jupyter Notebooks
*.ipynb_checkpoints