langchain==0.2.17
langchain-openai==0.1.25
langchain-community==0.2.19
langchain-google-genai==4.2.0
langchain-core==0.2.43
fastapi
uvicorn
python-dotenv
pydantic
requests
pillow
python-multipart
streamlit
watchdog
